

.trend {
    width: 500px;
    height: 280px;
    background-repeat: no-repeat;
    background-size: cover;
   display: flex;
   justify-content: center;
    position: relative;
    margin-bottom: -232px;
    color: white;
    overflow: hidden;
    transition: transform 200ms linear;
    outline: 2px solid lightblue;
    border: 1px solid lightblue;
    border-radius: 6px;
    font-weight: 800;
    font-size: 32px;
    padding: 3px;

}

.trend:active{
    border: 1px solid white;
    outline: white;
}

.trend:hover {

transform: translateY(-232px);
align-items: flex-end;
color: lightsteelblue;

}



