@import-normalize; /* bring in normalize.css styles */

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'DM Sans',
      sans-serif;
  min-height: 100vh;
background-color: lightslategray;
  font-style: normal;
  
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



.header-nav{
  display: flex;
  gap: 20px;
  
  
}


.header-cont {

border: 5px solid lightblue;
/* width: 100%;
 position: fixed;
 z-index: 999; */
  min-height: 64px; 
  padding: 10px 24px 14px 24px;
 margin-bottom: 10px;
  color: lightblue;
  background-color: #3f51b5;
  
  /* box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12); */
}




.homeWrap{
  height: 1388px;
  width: 1000px;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  border-bottom: 5px solid lightblue;
  border-radius: 3px;
  overflow: hidden;
  /* max-width: 1600px;
    background-image: url(./components/img/kinoteatr.jpg);
    background-size: fit;
    background-repeat: no-repeat;
    background-attachment: fixed; */

  
}
.list{
 
  width: 500px;
  margin-left: auto;
    margin-right: auto;
    
}

.home-title-wrap{
    width: 1000px;
    
    /* border: 8px solid lightblue; */
    margin-bottom: 20px;
    margin-top: 100px;
    border-radius: 8px;
    
    
}

.home-title {
  font-size: 62px;
  text-align: center;
  font-weight: 900;  
}

.details-wrapper{
  display: flex;
  gap: 10px;
  max-width: 1400px;
  background-color: lightsteelblue;
  border: 5px solid lightblue;
  margin-bottom: 10px;
 
}

.details-img-wrapper{
  width: 300px;
}

.details-img{
  max-width: 300px;
}

.active{
  color:white;
  text-decoration: underline solid white;
  text-underline-offset: 5px;
  
}

.details-btn-wrap{
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}


.details-btn{
  cursor: pointer;
  text-align: center;
  width: 147px;
  font-size: 26px;
  background-color: lightsteelblue;
  border: 5px solid lightblue ;
  padding: 5px;
  border-radius: 1px;
  transition: background-color 200ms linear, color 200ms linear;

}

.details-btn:first-child{
  padding-left: 0;
}

.details-btn:hover{
 
  background-color: #3f51b5;
  color: white;
  
  
}

.cast-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
  max-width: 1400px;
 
  margin-bottom: 10px;
  

}

.cast-item-wrap{
  width: 250px;
  height: 440px;
  border: 5px solid lightblue;
  background-color: lightblue;
  
  overflow: hidden;

}

.cast-name{
  text-align: center;
  font-size: 24px;
  margin-bottom: 5px;
  
}

.cast-char {
  
  text-align: center;
  font-size: 16px;
  
}

.cast-txt-wrap{
width: 240px;
height: 70px;
padding: 5px;
overflow-y: auto;

}

.details-main-title{
  font-size: 44px;
  
  margin-bottom: 20px;
}

.details-title{
  margin-bottom: 5px;
  font-size: 26px;
}

/* .details-txt-score{
  font-size: 22px;

} */

.details-txt {
  margin-bottom: 20px;
  font-size: 18px;
}

.details-txt-wrap{
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.rev-item-wrap{
  border: 5px solid lightblue;
    /* background-color: lightblue; */
    margin-bottom: 1px;
    padding: 10px;
}

.rev-wrapper{
  max-width: 1400px;
    background-color: lightsteelblue;
}

.rev-txt{
  font-size: 16px;
}

.alert-wrap{
  max-width: 1400px;
    background-color: lightsteelblue;
    border: 5px solid lightblue;
    padding: 30px;
    margin-top: 100px;
}

.alert-txt {
  font-size: 28px;
  text-align: center;
}



.movie-wrap{
    
    /* margin-bottom: 20px;
    margin-top: 10px; */
 
    max-width: 1400px;
    /* height: 917px; */
}

/* .main{
    margin-left: auto;
    margin-right: auto;
  max-width: 1600px;
  background-image: url(./components/img/kinoteatr.jpg);
  background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
   
} */

.movie-list{
display: flex;
flex-wrap: wrap;
justify-content: space-between;
gap: 10px;
}

.movie-item{
  width: 330px;

  height: auto;
  border: 5px solid lightblue;
}

.form-wrap{
  padding-top: 50px;
  margin-bottom: 10px;
  display: flex;
  gap: 10px;
  max-width: 1400px;
  height: 250px;
background-image: url(./components/img/cinema.jpg);
background-size: contain;
background-position: 440px 0;
 
border: 5px solid lightblue;

}

.movie-txt-wrap{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightblue;
  font-size: 20px;
  overflow-x: auto;
  padding: 5px;
  width: 100%;
  height: 56px;
}


.form{
  margin-left: auto;
    margin-right: auto;
}

.input {
  display: inline-block;
  width: 400px;
  height: 55px;
  margin-right: 10px;
    background-color: lightsteelblue;
    border: 5px solid lightblue;
    padding: 5px;
  font: inherit;
  font-size: 20px;
  
  outline: none;
}

label{
  display: flex;
}

.input::placeholder {
  font: inherit;
  font-size: 18px;
}