@import-normalize; /* bring in normalize.css styles */

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'DM Sans',
      sans-serif;
  min-height: 100vh;
background-color: lightslategray;
  font-style: normal;
  
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.homeWrap{
  height: 1388px;
  width: 1000px;
  
  margin-bottom: 20px;
  border-bottom: 5px solid lightblue;
  border-radius: 3px;
  overflow: hidden;
  
}
.list{
 
  width: 500px;
  margin-left: auto;
    margin-right: auto;
    
}

.home-title-wrap{
    width: 1000px;
    height: 250px;
    border: 8px solid lightblue;
    margin-bottom: 20px;
    margin-top: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 8px;
    padding-top: 120px;
    
}

.home-title {
  font-size: 62px;
  text-align: center;
  font-weight: 900;  
}

.details-wrapper{
  display: flex;
  gap: 10px;
  max-width: 1400px;
  background-color: lightsteelblue;
  border: 5px solid lightblue;
  margin-bottom: 10px;
 
}

.details-img-wrapper{
  width: 300px;
}

.details-img{
  max-width: 300px;
}

.active{
  color:lightblue;
}

.details-btn-wrap{
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.details-btn{
  cursor: pointer;
  text-align: center;
  width: 147px;
  font-size: 30px;
  background-color: lightsteelblue;
  border: 5px solid lightblue ;
  padding: 5px;
  border-radius: 1px;
  
}

.details-btn:hover{
  border: 5px solid lightskyblue;
  
}

.cast-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  max-width: 1400px;
  background-color: lightsteelblue;
  border: 5px solid lightblue;
  margin-bottom: 10px;
  padding: 10px;

}

.cast-item-wrap{
  width: 250px;
  height: 440px;
  border: 5px solid lightblue;
  background-color: lightblue;
  
  overflow: hidden;

}

.cast-name{
  text-align: center;
  font-size: 24px;
  margin-bottom: 5px;
  
}

.cast-char {
  
  text-align: center;
  font-size: 16px;
  
}

.cast-txt-wrap{
width: 240px;
height: 70px;
padding: 5px;
overflow-y: auto;

}

.details-main-title{
  font-size: 44px;
  
  margin-bottom: 20px;
}

.details-title{
  margin-bottom: 5px;
  font-size: 26px;
}

/* .details-txt-score{
  font-size: 22px;

} */

.details-txt {
  margin-bottom: 20px;
  font-size: 18px;
}

.details-txt-wrap{
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.rev-item-wrap{
  border: 5px solid lightblue;
    /* background-color: lightblue; */
    margin-bottom: 1px;
    padding: 10px;
}

.rev-wrapper{
  max-width: 1400px;
    background-color: lightsteelblue;
}

.rev-txt{
  font-size: 16px;
}