@import-normalize; /* bring in normalize.css styles */

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'DM Sans',
      sans-serif;
  min-height: 100vh;
background-color: lightslategray;
  font-style: normal;
  
  
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



.header-nav{
  display: flex;
  gap: 20px;
  
}

.header-link {
  text-decoration: none;
  text-underline-offset: 5px;
 
}

.header-link:hover{
  
  text-decoration: underline solid white;
  text-underline-offset: 5px;
}

.header-cont {

border: 5px solid lightblue;
/* width: 100%;
 position: fixed;
 z-index: 999; */
  min-height: 64px; 
  padding: 10px 24px 14px 24px;
 margin-bottom: 5px;
  color: lightblue;
  background-color: #3f51b5;
  
  /* box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12); */
}

.footer{
  width: 1400px;
  height: 15px;
  border: 5px solid lightblue;

    /* padding: 10px 24px 14px 24px; */
    margin-bottom: 5px;
    color: lightblue;
    background-color: #3f51b5;
    
}

.list-wrap{
  display: flex;
  justify-content: space-evenly;
}


.home-wrap{
  max-width: 1400px;
  background-color: lightsteelblue;
  height: 1202px;
 padding-top: 20px;
  display: flex;
  flex-direction: column;
 
  margin-bottom: 5px;
  border: 5px solid lightblue;
  border-radius: 1px;
  overflow: hidden;
  
}

.list{
 
  max-width: 500px;
  /* margin-left: auto;
    margin-right: auto; */
    
}

.home-title-wrap{
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    border: 8px solid #3f51b5;
    margin-bottom: 20px;
    border-radius: 8px; 
    padding: 20px;
    
    
}

.home-title {
  font-size: 62px;
  text-align: center;
  font-weight: 900;  
  color:#3f51b5;
}

.trend-title{
  font-size: 48px;
    text-align: center;
    font-weight: 900;
    margin-bottom: 10px;
    color: #3f51b5;
}

.details-wrapper{
  display: flex;
  gap: 10px;
  max-width: 1400px;
  background-color: lightsteelblue;
  border: 5px solid lightblue;
  margin-bottom: 5px;
 
}

.details-img-wrapper{
  width: 300px;
}

.details-img{
  max-width: 300px;
  height: 450px;
  
}

.active{
  color:white;
  text-decoration: underline solid white;
  text-underline-offset: 5px;
  
}

.details-btn-wrap{
  display: flex;
  gap: 10px;
  margin-bottom: 5px;
}


.details-btn{
  cursor: pointer;
  text-align: center;
  width: 147px;
  font-size: 26px;
  background-color: lightsteelblue;
  border: 5px solid lightblue ;
  padding: 5px;
  border-radius: 1px;
  transition: background-color 200ms linear, color 200ms linear;

}

.details-btn:first-child{
  padding-left: 0;
}

.details-btn:hover{
 
  background-color: #3f51b5;
  color: white;
  
  
}

.cast-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
  max-width: 1400px;
 
  margin-bottom: 5px;
  

}

.cast-item-wrap{
  width: 250px;
  height: 440px;
  border: 5px solid lightblue;
  background-color: lightblue;
  
  overflow: hidden;

}

.cast-name{
  text-align: center;
  font-size: 24px;
  margin-bottom: 5px;
  
}

.cast-char {
  
  text-align: center;
  font-size: 16px;
  
}

.nocast-item-wrap{
    border: 5px solid lightblue;
      max-width: 1400px;
        background-color: lightsteelblue;
        padding: 10px;
        width: 100%;
}

.cast-txt-wrap{
width: 240px;
height: 70px;
padding: 5px;
overflow-y: auto;

}

.details-main-title{
  font-size: 44px;
  
  margin-bottom: 20px;
}

.details-title{
  margin-bottom: 5px;
  font-size: 26px;
}

/* .details-txt-score{
  font-size: 22px;

} */

.details-txt {
  margin-bottom: 20px;
  font-size: 18px;
}

.details-txt-wrap{
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.rev-item-wrap{
  border: 5px solid lightblue;
    /* background-color: lightblue; */
    margin-bottom: 1px;
    padding: 10px;
}

.rev-wrapper{
  max-width: 1400px;
    background-color: lightsteelblue;
}

.rev-txt{
  font-size: 16px;
}

.alert-wrap{
  max-width: 1400px;
    background-color: lightsteelblue;
    border: 5px solid lightblue;
    padding: 30px;
    margin-top: 100px;
    margin-bottom: 5px;
}

.alert-txt {
  font-size: 28px;
  text-align: center;
}



.movie-wrap{
  max-width: 1400px;
  
}


.form-wrap{
  padding-top: 50px;
  display: flex;
  align-items: baseline;
  justify-content: center;
  gap: 10px;
  max-width: 1400px;
  height: 250px;
background-image: url(./components/img/cinema.jpg);
background-size: contain;
background-position: 440px 0;
 margin-bottom: 5px;
border: 5px solid lightblue;

}

.form {
 
  display: flex;
  align-items: center;
}

.input {
  display: block;
  width: 400px;
  height: 50px;
  margin-right: 10px;
  background-color: lightsteelblue;
  border: 5px solid lightblue;
  padding: 5px;
  font: inherit;
  font-size: 20px;
  outline: none;
  transition: border 200ms linear;

}

.input:hover {
  border: 5px solid #3f51b5;
}

.movie-txt-wrap{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightblue;
  font-size: 20px;
  overflow-x: auto;
  padding: 5px;
  
  height: 60px;
  border: 2px solid lightblue;

}

.movie-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 5px;
  
}

.movie-item {
  width: 330px;
  height: auto;
  border: 5px solid lightblue;
}

.movie-item:hover {
  scale: 1.05;
  box-shadow: 0 8px 26px rgba(0, 0, 0, 0.4), 0 28px 30px rgba(0, 0, 0, 0.3);
}

.movie-search-poster{
  height: 182px;
  object-fit: cover
}


.input::placeholder {
  font: inherit;
  font-size: 18px;
}

.MagnifyingGlass-wrapper {
  display: block;
  margin-right: auto;
  margin-left: auto;


}
.wrap {
  margin-top: -10px;
}

.details-noimg{
  object-position: 1px 0;
  object-fit: cover;
  
}